@model ContactData
<section id="contact" class="contact section">
    <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>If you have any questions or inquiries, feel free to reach out to me via the contact information below.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-5">

                <div class="info-wrap">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Address</h3>
                            <p>Tanta, Gharbia, Egypt</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Me</h3>
                            <p>+201016623780</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email Me</h3>
                            <p>mohamedhazem85@gmail.com</p>
                        </div>
                    </div><!-- End Info Item -->
                </div>
            </div>

            <div class="col-lg-7" style="align-content:center; ">
                <form asp-action="SaveContactData" asp-controller="Contact" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <label asp-for="Name" class="pb-2">Your Name</label>
                            <input asp-for="Name" class="form-control" required="">
                        </div>

                        <div class="col-md-6">
                            <label asp-for="Email" class="pb-2">Your Email</label>
                            <input asp-for="Email" class="form-control" required="">
                        </div>

                        <div class="col-md-12">
                            <label asp-for="Subject" class="pb-2">Subject</label>
                            <input asp-for="Subject" class="form-control" required="">
                        </div>

                        <div class="col-md-12">
                            <label asp-for="Message" class="pb-2">Message</label>
                            <textarea asp-for="Message" class="form-control" rows="10" required=""></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <button type="submit">Send Message</button>
                        </div>

                    </div>
                </form>
            </div><!-- End Contact Form -->

        </div>

    </div>

</section><!-- /Contact Section -->
