<!-- Resume Section -->
<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>Motivated .NET developer with hands-on experience in building web applications using HTML, CSS, JavaScript, and .NET technologies. Passionate about creating responsive designs and implementing efficient server-side logic.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Summary</h3>

                <div class="resume-item pb-0">
                    <h4>Mohamed Hazem Mostafa</h4>
                    <p><em>Motivated .NET developer with experience in web development using modern technologies such as HTML, CSS, JavaScript, and .NET. Strong team player with a passion for learning and problem-solving in web development.</em></p>
                    <ul>
                        <li>Tanta, Gharbia, Egypt</li>
                        <li>+201016623780</li>
                        <li>mohamedhazem85@gmail.com</li>
                    </ul>
                </div><!-- End Resume Item -->

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Computer and Automatic Control Engineering</h4>
                    <h5>May 2020 - Present</h5>
                    <p><em>Faculty of Engineering, Tanta University, Tanta, Gharbia</em></p>
                    <p>Cumulative GPA: 3.2</p>
                </div><!-- End Resume Item -->

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Software Engineer Intern</h4>
                    <h5>July 2024 - Present</h5>
                    <p><em>INNOTECH Company, Tanta, Gharbia</em></p>
                    <ul>
                        <li>Covered modern programming practices and object-oriented development in C#.</li>
                        <li>Worked with HTML, CSS, and Bootstrap for web development and studied software development life cycles and design principles like SOLID, DRY, and KISS.</li>
                        <li>Gained experience in data structures, algorithms, database management (SQL Server), and cybersecurity principles.</li>
                    </ul>
                </div><!-- End Resume Item -->

                <h3 class="resume-title">Courses</h3>
                <div class="resume-item">
                    <h4>Software Developer Training</h4>
                    <h5>April 2024 - Present</h5>
                    <p><em>Digital Egypt Pioneers Initiative, Tanta, Gharbia</em></p>
                    <ul>
                        <li>Gained knowledge in database design, SQL Server programming, C#, HTML5, JavaScript, and CSS3.</li>
                        <li>Developed scalable .NET Core Web APIs with secure authentication, efficient data access using Entity Framework Core, and API documentation with Swagger.</li>
                        <li>Worked on .NET Core MVC web applications.</li>
                    </ul>
                </div><!-- End Resume Item -->

            </div>

        </div>

    </div>

</section><!-- /Resume Section -->
